# Cypress stuff
cypress/screenshots/
cypress/videos/
cypress/downloads/

# Cypress configuration file
cypress.json

# Node.js dependencies
node_modules/

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# macOS system files
.DS_Store

# Linux/Unix system files
*~

# Windows system files
Thumbs.db

# IDE specific files
.idea/
.vscode/
*.sublime-workspace
